@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.App {
  text-align: center;
  margin-top: 100px;
}
body {
  background-color: rgb(24 24 27);
}

.image-opt {
  width: 40%;
  border-radius: 5px;
  box-shadow: 0px 0px 14px #000;
}
.track-content {
  padding-left: 50px;
  white-space: nowrap;
  /* margin: 0 auto; */
  text-align: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card {
  background-color: #2c2b2b;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  margin-right: 18px;
  padding: 15px;
  cursor: pointer;
  border-radius: 4px;
  /* word-break: break-all; */
  white-space: normal;
  transition: 0.2s;
}
.card-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
}

.card-track {
  margin-left: 6%;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.card-title {
  margin-bottom: 40px;
}

.card:hover {
  background-color: #212121;
}
.album-name {
  margin-bottom: 15px;
  color: #f4f4f4;
}
.artist {
  padding: 5px;
  /* text-align: center; */
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.name {
  padding: 5px;
  /* text-align: center; */
  color: #fff;
  font-weight: 400;
}
.btn {
  border-radius: 5px;
  /* padding: 7px 2px; */
  background-color: #1db954;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.button {
  border-radius: 5px;
  /* padding: 7px 2px; */
  background-color: #1db954;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
* {
  margin: 0;
  padding: 0;
}
.form-search {
  margin: 20px;
}

.searchInput {
  border: 0;
  padding: 10px;
  border-radius: 20px 0px 0px 20px;
  font-family: "Poppins", sans-serif;
  color: #000;
}

.searchSubmit {
  background-color: #1db954;
  border: 0;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  border-radius: 0px 20px 20px 0px;
  font-family: "Poppins", sans-serif;
}

.setAuth {
  color: rgb(0, 0, 0);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.playlistForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.title-input {
  border: 0;
  padding: 10px;
  /* border-radius: 20px 0px 0px 20px; */
  font-family: "Poppins", sans-serif;
  margin: 10px;
  width: 10%;
}

textarea {
  resize: none;
}

.btn-playlist {
  border-radius: 5px;
  /* padding: 7px 2px; */
  background-color: #1db954;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
